@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
}
@include font('Avenir-Black', '../fonts/Avenir-Black.ttf');
@include font('Avenir-Book', '../fonts/Avenir-Book.ttf');
@include font('Avenir-Medium', '../fonts/Avenir-Medium.ttf');


html, body, * {
    margin: 0;
    padding: 0;
    font-family: 'Avenir-Black';
    font-size: 16px;
}

header {
    z-index: 50;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        .logo a {
            background-image: url(../img/logo.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            height: 5rem;
            width: 12rem;
            display: block;
        }
        .menu {
            display: flex;
            list-style: none;
            li:not(:last-of-type) {
                margin-right: 1rem;
            }
        }
    }
}

section#home {
    position: relative;
    h1 {
        position: absolute;
    }
}